 
 <div class="form-container">
 
  {{#rows}}
    {{!-- <p><a href="{{url}}" target="_blank">{{first}} {{last}}</a> {{age}}  {{city}} </p> 
    --}}

<div>

  {{#if url}}

   <p><a href="{{url}}" target="_blank">{{first}} {{last}}</a> {{age}} {{city}}</p>

  {{else}}

   <p><a class="no-url" href="{{url}}">{{first}} {{last}}</a> {{age}} {{city}}</p>       

   {{/if}}             

</div>

    {{/rows}}
   </div>