<h1>Here are all the people who have signed the petition so far:</h1>


<div>
    {{#rows}} 
    <p><a href="{{url}}" target="_blank">{{first}} {{last}}</a> {{age}}   <a href="/petition/signers/{{city}}">{{city}}</a></p> 
   
    {{/rows}}
    </div>

{{!-- partials vor users with and without a url --}}
{{!-- make sure that the url we get from the user starts with http or https --}}