<h1>Here are all the people who have signed the petition so far:</h1>


<div>
    {{#rows}}
    <p>{{first}} {{last}} {{age}}   <a href="/petition/signers/{{city}}" target="_blank">{{city}}</a> {{url}}</p> 
   
    {{/rows}}
    </div>

