 <header><button class="logout"><a class="b" href="/logout">Logout</a></button></header>

<div class="form-container">

<h1>Here are all the people who have signed the petition so far:</h1>


<div class="signers">
    {{#rows}} 

    {{#if url}}

    <p><a href="{{url}}" target="_blank">{{first}} {{last}}</a> {{age}}   <a href="/petition/signers/{{city}}">{{city}}</a></p> 

    {{else}}

    <p><a class="no-url" href="{{url}}">{{first}} {{last}}</a> {{age}}   <a href="/petition/signers/{{city}}">{{city}}</a></p> 


    {{/if}}   
   
    {{/rows}}
    </div>



</div>